body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*
.navbar {
  margin-bottom: 20px;;
}*/

.navbar-custom {
  background-color:#22BB22;
    color:#ffffff;
    border-radius:0;
}
  
.navbar-custom .navbar-nav > li > a {
    color:#fff;
    padding-left:20px;
    padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
  background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #33aa33;
}
      
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}

.chinese-name{
  font-family: "DFKai-sb";
  font-size: 40px;
  font-weight: bold;
}

.english-name{
  font-size: 36px;
  font-weight: bold;
}

.no-bullet-list{
  list-style: none;
}

.profile{
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 10px;
  box-shadow: 4px 4px 3px -2px rgba(20%,20%,40%,0.5); 
}

.profile-img{
  max-width: 250px;
  text-align: center;
  margin: 0px 20px 0px;
}

.profile-img > img {
  border-radius: 20px;
}

.profile-info{
  vertical-align: center;
  position: relative;
  font-size: 20px;
}

.profile-description{
  margin: 20px 40px 20px;
}


.section{
  background-color: #FFFFFF;
  padding-bottom: 20px;
  padding-left: 40px !important;
  padding-right: 40px !important;
  box-shadow: 4px 4px 3px -2px rgba(20%,20%,40%,0.5);
}

.anchor-parent{
  position: relative;
}

.anchor{
  position: absolute;
  top: -60px;
}

.school{
  font-size: 18px !important;
}

.date{
  font-size: 18px !important;
}

.degree{
  font-size: 22px !important;
}

.edu-img{
  max-width: 200px;
  margin: 0 auto;
}

.edu-info{
}

.chess{
  background-color: #dddddd;
}

.item{
  padding-bottom: 20px;
  overflow: hidden;
  display: table !important;
}

.item-info{
  vertical-align: top;
  display: table-cell !important;
  float: none !important;
}

.item-img{
  vertical-align: center;
  display: table-cell !important;
  float: none !important;
}

.item-img > img{
  box-shadow: 4px 4px 3px -3px rgba(20%,20%,40%,0.5);
}

.paper{
  font-size: 20px;
  font-weight: bold;
}

.author{
  font-size: 18px !important;
}

.conf{
  font-size: 18px;
  margin: 10px auto 0px;
}


.last-update{
  font-size: 16px;
  color: #208040;
}
