body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.chinese-name{
  font-family: "DFKai-sb";
  font-size: 40px;
  font-weight: bold;
}

.english-name{
  font-size: 36px;
  font-weight: bold;
}

.no-bullet-list{
  list-style: none;
}

.profile{
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 10px;
  box-shadow: 4px 4px 3px -2px rgba(20%,20%,40%,0.5); 
}

.profile-img{
  max-width: 250px;
  text-align: center;
  margin: 0 auto;
}

.profile-img > img {
  border-radius: 20px;
}

.profile-info{
  vertical-align: center;
  position: relative;
  font-size: 20px;
}

.profile-description{
  margin: 20px 20px 20px;
}


.section{
  background-color: #FFFFFF;
  padding-top: auto;
  padding-bottom: 20px;
  box-shadow: 4px 4px 3px -2px rgba(20%,20%,40%,0.5);
}

.anchor-parent{
  position: relative;
}

.anchor{
  position: absolute;
  top: -60px;
}

.school{
  font-size: 18px !important;
}

.date{
  font-size: 16px !important;
}

.degree{
  font-size: 22px !important;
}

.edu-img{
  max-width: 200px;
  margin: 0 auto;
}

.edu-info{
}

.item{
  padding-bottom: 20px;
}

.item-info{
  vertical-align: middle !important;
}

.item-img{
  max-width: 200px;
  margin: 0 auto;
  box-shadow: 4px 4px 3px -3px rgba(20%,20%,40%,0.5);
}

.paper{
  font-size: 22px;
  font-weight: bold;
}

.author{
  font-size: 18px !important;
}

.conf{
  font-size: 20px;
  margin: 20px auto 20px;
}


.last-update{
  font-size: 16px;
  color: #208040;
}